<div class="title">
    <h1>Ver Mascota</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>
            <h2><strong>Pompin</strong></h2>
            <mat-card-content>
                <p><strong>Edad: </strong>  12 años</p>
                <p><strong>Raza: </strong>  Caniche</p>
                <p><strong>Color:</strong>  Café</p>
                <p><strong>Peso: </strong>  5 kg</p>
            </mat-card-content>
            <mat-card-actions >
                <button routerLink="/listado-mascota" mat-button>Volver</button>
            </mat-card-actions>
        </mat-card-title>
    </mat-card>
</div>
