table {
    width: 100%;
  }

.title {
    text-align: center;
    background-color: grey;
    color: white;
    font-size: 20px;
    padding: 30px;
}

.container {
    margin: 0 20%;
}

td,th {
  width: 15%;
  
}

.mat-form-field {
    width: 100%;
    font-size: 14px;
}

.delete{
  cursor: pointer;
  color: #e15635
}
.edit{
  cursor: pointer;
  color: #2e8b57
}
.search{
  cursor: pointer;
  color:silver;
}

.agregar{
  /* font-size: 10px; */
  line-height: 28px;
  background-color:#e1ffff;
}